PORT=5001
MONGO_URI=mongodb+srv://kamalakantabera986_db_user:DDnzMXMcj8tenA00@cluster0.smtufuj.mongodb.net/visitor-management?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=ibm_visitor_management_jwt_super_secret_key_2026
NODE_ENV=development
